.App {
  text-align: center;
}

.slider-text{
 position: absolute;
  right: 15%;
  bottom: 200px;
  left: 15%;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  color: #fff;
  text-align: center;
}
.slider-img{
  width: 93.75rem;
  height: 37.5rem;
  object-fit: cover;
}
.destinations-img{
  height: 200px;
  object-fit: cover;
}
.form-div{
  width: 50%;
}
.bg-img{
  background-repeat: no-repeat;
  background-position: center;
  object-fit: cover;
  background-attachment: fixed;
}
.login-user-img{
  width: 3.125rem;
  object-fit: cover;
}
.booking-form{
  display: flex;
  flex-direction:column ;
   width: 80%;
   margin: 0 auto;
}
.booking-form input,textarea{
 border-top: 0;
 border-left: 0;
 border-right: 0;
 border-bottom: 1px solid gray;
 padding: 10px 15px;
 margin: 5px 0;
 background: #FAF0C7;
 border-radius: 5px;
outline: none;
}
.ticket-width{
  width:50px;
  margin-top: -25px;
  margin-left: 10px;
}
.trash{
  cursor: pointer;
}
.status-width{
  width:80px
}
.our-service{
  width:70%;
}
.our-service p{
  width:80%
}

/*----------------------- media query ------------------------ */


@media only screen and (max-width:768px){
  .slider-text{
  bottom: 150px;
}
  .slider-img{
  width: 1000px;
  height:500px ;
}
.form-div{
  width: 100%;
}
.our-service{
  width:100%;
}
.our-service p{
  width:100%
}
}